p {
    color:lime;
    background: blue;
    font-size: 2.0em;
    line-height: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    transition: width 1s, height 1s, transform 1s, linear 1s;

}
li{
    color:blue;
    font-size: 2.0em;
    line-height: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}
h1{
    font-size: 80px;
    color:black;
    text-transform:uppercase;
    text-decoration:underline;
    letter-spacing: 0.5em;
    margin: 10px;
    font-weight: bold;
    text-align: center;
}
body{
    background-image: linear-gradient(red, yellow);
}
img{
    border-width: 10px;
    border-style: solid;
    border-color:black;
    margin: auto;
    display: block;
    transition: width 2s, height 2s, transform 2s, ease 2s;
  }
h2{
    color:blue;
    font-size:1.5em;
    text-decoration: underline;
}  
h2:hover{
    font-size:2em;
}